.resize-image-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.resize-image-form-left-side,
.resize-image-form-right-side {
  width: 50%;
  height: 100%;
}

.resize-image-form-right-side {
  padding: 2vw 2.85vw;
}

.resize-image-form-row {
  width: 100%;
}
