.to-do-item-form {
  width: 100%;
  min-height: 5vw;
  height: fit-content;
  padding: 0.85vw 0.65vw;
  border: 0.1vw solid;
  border-color: black;
  border-radius: 0.35vw;
  transition: all 0.25s ease-in-out;
}
