.to-do-item {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  padding: 0.65vw 0;
  border-bottom: 0.1vw solid rgb(235, 235, 235);
  cursor: pointer;
}

.to-do-action-button {
  color: black;
  opacity: 0.25;
  font-size: 1.15vw;
  margin-right: 0.65vw;
  cursor: pointer;
  transition: all 0.35s ease-out;
}

.to-do-action-button:hover {
  opacity: 1;
}

.to-do-description {
  color: black;
  font-size: 0.9vw;
  font-weight: 400;
  letter-spacing: 0.075vw;
  line-height: 1.5vw;
  margin-top: -0.05vw;
}

.checked {
  color: rgb(100, 100, 100);
  text-decoration: line-through;
}

.to-do-item:hover .to-do-settings {
  display: flex;
}

.to-do-settings {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 0.6vw 0 0.35vw 1vw;
  background-color: #fff;
}

.to-do-settings div:last-child {
  margin-right: 0;
}
