.to-do-form-button {
  font-size: 0.9vw;
  font-weight: 500;
  letter-spacing: 0.035vw;
  padding: 0.46vw 0.75vw;
  border: 0.1vw solid;
  border-color: transparent;
  border-radius: 0.25vw;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.to-do-form-button:focus {
  outline: none;
}

.to-do-form-button:disabled {
  background-color: rgb(120, 120, 120);
}

.btn-fancy {
  color: #fff;
  background-color: #232323;
}

.btn-normal {
  color: rgb(90, 90, 90);
  font-size: 0.85vw;
  font-weight: 400;
  background-color: transparent;
}

.btn-normal:hover {
  text-decoration: underline;
}
