.hero-utils-list {
  width: 51%;
  height: fit-content;
  padding: 0 6.25vw;
  padding-top: 1vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  opacity: 0;
  margin-top: 0.5vw;
  animation: revealAfter 1s ease-in-out 1.25s 1;
  animation-fill-mode: forwards;
}

@keyframes revealAfter {
  0% {
    opacity: 0;
    margin-top: 0.5vw;
  }
  100% {
    opacity: 1;
    margin-top: 0vw;
  }
}

.hero-utils-list div {
  padding-right: 1vw;
  padding-bottom: 1.5vw;
}
