.radio-input {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-input-mask {
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0.025vw;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  padding: 0.6vw 2.15vw;
  background-color: rgb(245, 245, 245);
  border: 0.01vw solid;
  border-color: transparent;
  border-radius: 0.18vw;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.radio-input:hover input ~ .radio-input-mask {
  border-color: #232323;
}

.radio-input input:checked ~ .radio-input-mask {
  background-color: #232323;
  color: #fff;
  border-color: #232323;
}
