@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

#root::before {
  content: "";
  height: 100vh;
  position: absolute;
  background: rgb(49, 122, 246);
  top: 0vw;
  z-index: -1;
  opacity: 1;
  animation: reduceToHalf 1.25s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes reduceToHalf {
  0% {
    width: 100%;
  }
  100% {
    width: 49%;
  }
}
