.util-services-page {
  width: 100%;
  height: 100vh;
}

.service-section {
  width: 100%;
  height: 88vh;
}

.card-style-content-area {
  width: 66%;
  height: 78%;
  border-radius: 1.25vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
